table,th,td{
    border: 3px solid white;
    border-collapse: collapse;
}
table{
    /* width: 100%; */
    table-layout: fixed;
}
.blur {
    padding-top: 2%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
.rounded{
    border-radius: 10%;
}
img{
    width: 100px;
    height: 100px;
}
.camt{
    width: 150px;
    height: 120px;
}
.color{
    width: 200px;
    height: 200px;
    table-layout: fixed;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.gray{
    background-color: gray;
}
.synopsis{
    color: #7E8184;
    font-style: italic;
}
.button{
    color: #ffffff;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
}
.onHover:hover{
    cursor: pointer;
}
.onWait:hover{
    cursor: wait;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
body > table > tbody > tr:nth-child(2) > td:nth-child(3) > a > img{
    border-radius: 20%;
}
#googleLogo{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 20px;
}