body{
    background-color: seashell;
    font-style: italic;
    text-align: center;
}

#header{
    background-color: peachpuff;
    text-align: center;
    height: 15%;
    width: 100%;
}
#camtlogo{
    display: block;
    text-align: left;
    width: 200px;
    height: 80px;
    padding-left: 30px;
}
#menu{
    font-size: 30px;
    font-style: italic;
    text-align: right;
    padding-right: 50px;
    padding-left: 20px;
    width: 100px;
}
#mypic{
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    padding-top: 100px;
    border-radius: 50%;
}
#myfav{
    height: 100px;
    width: 200px;
}