h1{
    background-color: antiquewhite;
    color: brown;
    border:1px solid pink ;
}
body{
    color: black;
}
table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: right;
    vertical-align: baseline;
}